body{
  background-color: #d8d5d5 ;
  /* overflow: hidden; */
}
nav{
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: powderblue;
  align-content: center;
  color: white;
  margin: 5px;
  height: 50px;
  border-radius: 5px;
}
.Main {
    background-color: aliceblue;
    padding: 5%;
    /* background-color: powderblue; */
    /* border-radius: 5px; */
}
.card1 {
    height: min-content;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 100px;
    border-radius: 5px;
    background-color: white;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    text-align: center;
    padding: 2px 16px;
  }
  